<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Phillies News</title>
    <meta name="description" content="This page provides the latest news on the Philadelphia Phillies">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet"> <!-- include font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="static/phillySports.css" rel="stylesheet">
    <script>
      (function (w,d,s,o,f,js,fjs) {
          w['SBDOddsWidget']=o;w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
          js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
          js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
      }(window, document, 'script', 'sbd_odds', 'https://www.sportsbettingdime.com/app/themes/SportsBettingDime/assets/scripts/sbd-odds-widget.js'));
      sbd_odds('init', {});
    </script>
  </head>

  <body class="phillies-body">
    <nav class="navbar navbar-expand-lg navbar-light phillies-navbar">
      <button class="navbar-toggler phillies-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Eagles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sixers">Sixers</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/phillies">Phillies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flyers">Flyers</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand mx-auto" href="#">Philly Sports News</a>
    </nav>

    <div id="ticker" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for headline, url in zip2(keys2[:1], values2[:1]) %}
        <div class="carousel-item active">
          <a href="{{ url }}" target="_blank"><p>{{ headline }}</p></a>
        </div>
        {% endfor %} 
        {% for headline, url in zip2(keys2[1:], values2[1:]) %}
        <div class="carousel-item">
          <a href="{{ url }}" target="_blank"><p>{{ headline }}</p></a>
        </div>
        {% endfor %} 
      </div>
      <a class="carousel-control-prev" href="#ticker" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#ticker" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container">

      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <!-- Add the embed code here -->
          <div class="embed-responsive embed-responsive-16by9 mx-auto">
            {{ embed_code2 | safe }}
          </div>
        </div>
      </div>
    
      <div class="row row1">
        <div class="col-lg-4 col-md-6 col-sm-6">

          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS2b[0] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls2b[0] }}" target="_blank"><h3>{{ column2b[0] }}</h3></a>
              <p> {{ blurbs2b[0] }}  </p>
              <p class="article-source">Philadelphia Phillies</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS1b[0] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls1b[0] }}" target="_blank"><h3>{{ column1b[0] }}</h3></a>
              <p> {{ blurbs1b[0] }}  </p>
              <p class="article-source">The Good Phight</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS4b[0] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls4b[0] }}" target="_blank"><h3>{{ column4b[0] }}</h3></a>
              <p> {{ blurbs4b[0] }}  </p>
              <p class="article-source">Philly Voice</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS3b[0] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls3b[0] }}" target="_blank"><h3>{{ column3b[0] }}</h3></a>
              <p> {{ blurbs3b[0] }}  </p>
              <p class="article-source">NBC Sports Philadelphia</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS5b[0] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls5b[0] }}" target="_blank"><h3>{{ column5b[0] }}</h3></a>
              <p> {{ blurbs5b[0] }}  </p>
              <p class="article-source">That Ball's Outta Here</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS1b[1] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls1b[1] }}" target="_blank"><h3>{{ column1b[1] }}</h3></a>
              <p> {{ blurbs1b[1] }}  </p>
              <p class="article-source">The Good Phight</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS2b[1] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls2b[1] }}" target="_blank"><h3>{{ column2b[1] }}</h3></a>
              <p> {{ blurbs2b[1] }}  </p>
              <p class="article-source">Philadelphia Phillies</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS4b[1] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls4b[1] }}" target="_blank"><h3>{{ column4b[1] }}</h3></a>
              <p> {{ blurbs4b[1] }}  </p>
              <p class="article-source">Philly Voice</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS3b[1] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls3b[1] }}" target="_blank"><h3>{{ column3b[1] }}</h3></a>
              <p> {{ blurbs3b[1] }}  </p>
              <p class="article-source">NBC Sports Philadelphia</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS5b[1] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls5b[1] }}" target="_blank"><h3>{{ column5b[1] }}</h3></a>
              <p> {{ blurbs5b[1] }}  </p>
              <p class="article-source">That Ball's Outta Here</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 odds-col">
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS5b[3] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls5b[3] }}" target="_blank"><h3>{{ column5b[3] }}</h3></a>
              <p> {{ blurbs5b[3] }}  </p>
              <p class="article-source">That Ball's Outta Here</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS3b[3] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls3b[3] }}" target="_blank"><h3>{{ column3b[3] }}</h3></a>
              <p> {{ blurbs3b[3] }}  </p>
              <p class="article-source">NBC Sports Philadelphia</p>
            </div>
          </div>

          <div class ="card phillies-card card-advertisement">
            <div class="card-body">
              <a href="https://www.draftkings.com/r/matttttttttttt" target="_blank"><h3>GET $20 DK DOLLARS!</h3></a>
              <p>Get $20 DK Dollars to use in any daily fantasy contest or Marketplace purchases when creating an account using the link below and making a $20 deposit!  </p>
              <a href="https://www.draftkings.com/r/matttttttttttt" target="_blank">Draft Kings Daily Fantasy</a>
            </div>
          </div> 

        </div>
      </div>

      <div class="row">
        
        <div class="col-lg-4 col-md-6 col-sm-6">
    
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS1b[2] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls1b[2] }}" target="_blank"><h3>{{ column1b[2] }}</h3></a>
              <p> {{ blurbs1b[2] }}  </p>
              <p class="article-source">The Good Phight</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS3b[2] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls3b[2] }}" target="_blank"><h3>{{ column3b[2] }}</h3></a>
              <p> {{ blurbs3b[2] }}  </p>
              <p class="article-source">NBC Sports Philadelphia</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS4b[2] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls4b[2] }}" target="_blank"><h3>{{ column4b[2] }}</h3></a>
              <p> {{ blurbs4b[2] }}  </p>
              <p class="article-source">Philly Voice</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS5b[2] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls5b[2] }}" target="_blank"><h3>{{ column5b[2] }}</h3></a>
              <p> {{ blurbs5b[2] }}  </p>
              <p class="article-source">That Ball's Outta Here</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS2b[2] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls2b[2] }}" target="_blank"><h3>{{ column2b[2] }}</h3></a>
              <p> {{ blurbs2b[2] }}  </p>
              <p class="article-source">Philadelphia Phillies</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS1b[3] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls1b[3] }}" target="_blank"><h3>{{ column1b[3] }}</h3></a>
              <p> {{ blurbs1b[3] }}  </p>
              <p class="article-source">The Good Phight</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS2b[3] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls2b[3] }}" target="_blank"><h3>{{ column2b[3] }}</h3></a>
              <p> {{ blurbs2b[3] }}  </p>
              <p class="article-source">Philadelphia Phillies</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS3b[3] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls3b[3] }}" target="_blank"><h3>{{ column3b[3] }}</h3></a>
              <p> {{ blurbs3b[3] }}  </p>
              <p class="article-source">NBC Sports Philadelphia</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS4b[3] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls4b[3] }}" target="_blank"><h3>{{ column4b[3] }}</h3></a>
              <p> {{ blurbs4b[3] }}  </p>
              <p class="article-source">Philly Voice</p>
            </div>
          </div>
          <div class ="card phillies-card">
            <img class="card-img-top" src="{{ imageURLS5b[3] }}" alt="Card image cap">
            <div class="card-body">
              <a href="{{ urls5b[3] }}" target="_blank"><h3>{{ column5b[3] }}</h3></a>
              <p> {{ blurbs5b[3] }}  </p>
              <p class="article-source">That Ball's Outta Here</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <script>
            sbd_odds('display',{
            "team":"PHI",
            "league":"MLB",
            "show_concensus":true,
            "show_predictions":true,
            "show_betnow":true,
            "target": "team-container",
            "size": "team_300x600"}); 
          </script>
          <div class="demo" id="team-container"></div>

          <div class ="card phillies-card card-advertisement">
            <div class="card-body">
              <a href="https://sportsbook.draftkings.com/r/sb/matttttttttttt/US-MD-SB" target="_blank"><h3>GET A BONUS BET UP TO $100!</h3></a>
              <p>Refer a Friend & Get a Bonus Bet up to $100!! </p>
              <a href="https://sportsbook.draftkings.com/r/sb/matttttttttttt/US-MD-SB" target="_blank">Draft Kings Sportsbook</a>
            </div>
          </div>

        </div>
      </div>
    </div> 
      
    <footer class="footer phillies-footer">
      <div class="container">
        <p>Copyright &copy; <a href="/phillies">Philly Sports News 2023</a></p>
      </div>
    </footer>     
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>